/* For content block in all pages.
*/

.block_content {
	display: block;
	width: 100%;
	min-height: 30vh;
	padding-top: /*calc(6vmin + 14pt + 3vmin)*/ 6em;
	/*padding-bottom: 0;*/
	/*padding-left: 10pt;
	padding-right: 10pt;*/

	background-color: hsl(215, 0%, 90%);
	/*color: hsl(0, 0%, 30%);*/
}


.block_content h1 {
	font-size: 24pt;
	margin-bottom: 1em;
}


.block_content div {
	padding: 4em;
	padding-top: 2em;
	padding-bottom: 2em;
	/*margin: 1em;*/
}
.block_content div:nth-child(odd) {
	text-align: right;

	background-color: hsl(215, 10%, 20%);
	color: hsl(215, 10%, 50%);
}


.block_content a {
	color: hsl(208, 100%, 66%);
	text-shadow: 0 0 3px black;

	transition-duration: 0.3s;
}
.block_content a:hover {
	color: hsl(208, 100%, 100%);
	text-shadow: 0 0 3px black;
}


.block_content ul {
	/*padding-bottom: 0;*/
	margin-bottom: 0;
}
.block_content ul li {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
.block_content ul li:nth-child(even) {
	/*color: hsl(215, 0%, 20%);*/
}
.block_content ul li a {
	color: hsl(208, 100%, 66%);
}
.block_content ul li:nth-child(even) a {
	color: hsl(215, 100%, 60%);
}
.block_content ul li:nth-child(even) a:hover { /* hack */
	color: hsl(208, 100%, 100%);
	text-shadow: 0 0 3px black;
}
