{# Base template for all other files. #}

{# Получим путь относительно корня сайта, вне зависимости от RELATIVE_URLS == True или False: #}
{# relpath_to_site(lang, target_lang) - часть плагина i18n_subsite для пеликана #}

{% set root_relative = SITEURL + '/' + relpath_to_site(DEFAULT_LANG, main_lang) %}

<!DOCTYPE html>
<html>


<head>
{% block head %}  

	<meta charset="utf-8" lang="{{ DEFAULT_LANG }}" />

	<!-- чтобы bootstrap с мобильными устр. работал: -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Компиллятор CoffeeScript: -->
		<script type="text/javascript" src="{{ root_relative }}/theme/js/coffeescript_compiler.js"></script>
	
	<!-- Скрипт плавной прокрутки: -->
		<script type="text/javascript" src="{{ root_relative }}/theme/js/smooth_scrolling.js"></script>
	
	<!-- Основной стиль страницы (остальные - каждый на своей странице): -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/main.css"/>
	
	<!-- Картинка во вкладке: -->
		<link rel="icon" type="image/png" href="{{ root_relative }}/theme/images/logo_x64.png">
	

{% endblock %}
</head>


<body>
{% block body %}
	
{% endblock body %}
</body>


</html>
