{# Base page for all info pages of all concrete subjects #}
{% extends "base.html" %}


{% block head %}
	{{ super() }}

	<!-- Стили элементов: -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/block___header.css"/>
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/block___content.css"/>
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/block___footer.css"/>
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/page___info_page.css"/>

	<title>{{ SITENAME }}</title>
{% endblock head %}




{% block body %}

	{% include "block___header___top_panel.html" %}

	{% block content %}
		{% include "page___news.html" %} {# news by default #}
	{% endblock content %}

	{% include "block___footer.html" %}

{% endblock body %}
