{% block header %}
<header>





	<a class="main_title" href="{{ root_relative }}{% if DEFAULT_LANG != "ru"  %}/{{ DEFAULT_LANG }}{% endif %}/index.html">
		{% if DEFAULT_LANG == "ru"  %}Добро пожаловать на личную страницу Vlad1777d.
		{% else %}Welcome to the personal page of Vlad1777d.
		{% endif %}
	</a>





{% include "block_top_panel.html" %}





<div class="language_switcher">
	<a class="language_button russian_button" href="{{ root_relative }}/index.html"></a>
	<div class="language_button_separator"></div>
	<a class="language_button english_button" href="{{ root_relative }}/en/index.html"></a>
</div>





<div class="text_right_bottom">
	Vlad1777d
	<div class="text_right_bottom_little">
	{% if DEFAULT_LANG == "ru"  %}Информация о проектах, загрузки, прочее.
	{% else %}Information about projects, downloads, etc.
	{% endif %}
	</div>
</div>


</header>
{% endblock header %}
