

{% block page_footer %}
<footer class="footer">

<div class="footer_main_info">
	<h5>
		{% if DEFAULT_LANG == "ru"  %}Информация:
		{% else %}Info:
		{% endif %}
	</h5>
	<ul>
	
		<li><a href="https://vk.com/naumovvladislav" target="_blank">
			{% if DEFAULT_LANG == "ru"  %}Личная страница Вконтакте
			{% else %}Personal page on vk.com
			{% endif %}
			<span class="footer_info_for_links">
				{% if DEFAULT_LANG == "ru"  %}(ссылка в новой вкладке)
				{% else %}(link in new tab)
				{% endif %}
			</span>
		</a></li>
		
		<li><a href="#" target="_blank">
			{% if DEFAULT_LANG == "ru"  %}Страница проекта Твои обереги
			{% else %}Website of Your Averters project
			{% endif %}
			<span class="footer_info_for_links">
				{% if DEFAULT_LANG == "ru"  %}(еще не создано)
				{% else %}(not created yet)
				{% endif %}
			</span>
		</a></li>
		
		<li><a href="https://vk.com/tvoioberegi" target="_blank">
			{% if DEFAULT_LANG == "ru"  %}Группа Вконтакте проекта Твои обереги
			{% else %}Group of Your Averters project on vk.com
			{% endif %}
			<span class="footer_info_for_links">
				{% if DEFAULT_LANG == "ru"  %}(ссылка в новой вкладке)
				{% else %}(link in new tab)
				{% endif %}
			</span>
		</a></li>
		
		<li><a href="https://github.com/vlad1777d/Cinnamon_Glass_Themes" target="_blank">
			{% if DEFAULT_LANG == "ru"  %}Репозиторий тем рабочего окружения Cinnamon - Glass Themes
			{% else %}Repository of Glass Themes - themes for Cinnamon desktop environment
			{% endif %}
			<span class="footer_info_for_links">
				{% if DEFAULT_LANG == "ru"  %}(ссылка в новой вкладке)
				{% else %}(link in new tab)
				{% endif %}
			</span>
		</a></li>
		
	</ul>
</div>

<div class="footer_author">	
	{% if DEFAULT_LANG == "ru"  %}С ув., Владислав.
	{% else %}Best regards, Vladislav.
	{% endif %}
</div>

</footer>
{% endblock page_footer %}
