/* Overrides top panes style of "header.css" to be consistent with
 * "info_page.html" template.
 */
 
 
.top_panel {
	/*background-color: hsla(215, 10%, 75%, 1);*/
	background-color: hsla(215, 10%, 50%, 1);
	box-shadow: 0 0 25px 0px black;
}
.top_panel_button:hover {
	/*background-color: hsla(0, 0%, 0%, 0.7);*/
	background-color: hsl(210, 1%, 28%);
	/*color: hsl(58, 100%, 80%);*/
	color: hsl(58, 100%, 80%);
}
