header {
	display: block;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	left: 0;
	top: 0;
	padding-top: 0;
	
	background-image: url('../images/DSC_0054_ships_1080.JPG');
	background-attachment: local;
	background-size: cover;
}




.main_title {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
	/*margin-bottom: 3vh;*/
	padding-top: 6vh;
	padding-bottom: 6vh;
	padding-left: 0;
	padding-right: 0;
	
	font-size: 18pt;
	
	background-color: hsla(0, 0%, 50%, 0.0);
	
	transition-duration: 0.5s;
}
.main_title:hover {
	/*transform: translate(40px, 0);*/
	background-color: hsla(0, 0%, 50%, 0.2);
	color: white;
	background-color: hsla(0, 0%, 0%, 0.3);
}




.top_panel {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	position: sticky;
	top: 1vh;
	margin: 0;
	/*margin-top: 3vh;*/
	padding: 0;
	z-index: 1;
	
	background-color: hsla(0, 0%, 50%, 0.2);
}




.top_panel_button {
	display: inline-block;
	padding: 3vmin;
	
	font-size: 14pt;
	
	transition-duration: 0.5s;
}
.top_panel_button:hover {
	color: white;
	background-color: hsla(0, 0%, 0%, 0.3);
}



.text_right_bottom {
	position: absolute;
	z-index: 0;
	right: 10vw;
	bottom: 15vh;
	text-shadow: 0 0 15px rgba(0,0,0,1);
	/*font-family: sans-serif;*/
	font-size: 50pt;
	color: #FFF;    
	/*cursor: pointer;*/
}
.text_right_bottom_little {
	padding-top: 8pt;
	
	font-size: 12pt;
}
@media screen and (max-width: 500px) {
	.text_right_bottom {
		font-size: 30pt;
	}
	.text_right_bottom_little {
		font-size: 10pt;
	}
}
