header {
	display: block;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	left: 0;
	top: 0;
	
	background-image: url('../images/DSC_0054_ships_1080.JPG');
	background-attachment: local;
	background-size: cover;
}
