{% block header %}
	<div class="header_row">


		<div class="header___first_line">
				<a href="{{ root_relative }}{% if DEFAULT_LANG != "ru"  %}/{{ DEFAULT_LANG }}{% endif %}/page_web_development.html" class="header___first_line___link">
					<div class="header___first_line___logo">⠴16 БИТ⠉⡏</div>
				</a>
				<div class="header___first_line___phone_number">+7 (923) 410-17-79</div>
		</div>




		<div class="header___second_line">
			<div class="header___second_line___text">Создание веб-сервисов и приложений</div>

			<div class="header___language_switcher">
				<a class="header___language_button header___russian_button" href="{{ root_relative }}/page_web_development.html"></a>
				<div class="header___language_button_separator"></div>
				<a class="header___language_button header___english_button" href="{{ root_relative }}/en/page_web_development.html"></a>
			</div>
		</div>



		<div class="header___main_menu_row">

			<a href="{{ root_relative }}/../{% if DEFAULT_LANG != "ru"  %}/{{ DEFAULT_LANG }}{% endif %}/index.html"
				class="header___main_menu_button"
				role="button">
					<span>↩ Назад</span>
			</a>

			<a href="#about_us" class="header___main_menu_button" role="button">
				<span style="display: block; text-align: center;">ⓘ О нас</span>
			</a>

			<a href="#services" class="header___main_menu_button" role="button">
				<span>☕ Услуги</span>
			</a>

			<a href="#work_examples" class="header___main_menu_button" role="button">
				<span>☑ Примеры работ</span>
			</a>

		</div>


	</div>
{% endblock header %}
