{% block footer %}
	<div class="footer_row">

		<div class="col-lg-12">
			<p>&nbsp;</p>
		</div>




		<div class="footer_info_plane">
			<h4>Справка:</h4>

			<script type="text/javascript">
				var alert_support = function() {
					alert("Для получения технической поддержки воспользуйтесь виджетом vk.com справа внизу сайта\nили напишите на электронную почту: support@16bit.su")
				};
			</script>

			<a class="footer_links" href="#empty" onclick="alert_support()">
				Техническая поддержка <p class="footer_links_info">(информация во всплывающем окне)</p>
			</a>


			<script type="text/javascript">
				var alert_jobs = function() {
					alert("Хотите работать с нами? Присылайте резюме в группу Вконтакте\nили воспользуйтсь виджетом vk.com справа внизу сайта,\nкроме того вы можете выслать резюме на электронную почту: support@16bit.su")
				};
			</script>

			<a class="footer_links" href="#empty" onclick="alert_jobs()">
				Вакансии <p class="footer_links_info">(информация во всплывающем окне)</p>
			</a>


			<a href="https://vk.com/16bit" class="footer_links" target="_blank">
				Наше сообщество Вконтакте
				<p class="footer_links_info">(ссылка в новой вкладке)</p>
			</a>

			<p class="footer_links">Контактный телефон: <span class="footer_phone_number" style="font-family: monospace;">+7 (923) 410 17 79</span></p>

		</div>




		<div class="col-lg-4 col-lg-offset-2">
		</div>




		<div class="col-lg-12">
			<p>&nbsp;</p>
			<p style="text-align: center;">С уважением, команда 16 Бит.</p>
		</div>


	</div><!-- endblock footer_row -->
{% endblock footer %}
