{% block our_sevices %}
	<div class="our_services_row row">
		<div class="col-lg-12">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<h1 style="text-align: center;">Наши услуги:</h1>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>

		<div class="our_services_plane col-lg-2 col-lg-offset-2 ">
			<img src="{{ root_relative }}/theme/images/services/website_creation.jpg"
				alt="изображение не найдено, сообщите администратору" class="img-responsive ">
			<div style="text-align: center;">
				<h3>Создание сайта</h3>
				<p>Быстрое создание одностраничных сайтов</p>
				<h4>от 5000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="btn btn-primary btn-md center-block our_services_button"
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="our_services_plane col-lg-2 col-lg-offset-1">
			<img src="{{ root_relative }}/theme/images/services/creating_mobile_decisions_v2.png"
				alt="изображение не найдено, сообщите администратору"
				class="img-responsive">
			<div style="text-align: center;">
				<h3>Создание мобильных решений</h3>
				<p>Быстрое создание мобильных решений для Android, iOS</p>
				<h4>от 10000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="our_services_button btn btn-primary btn-md center-block"
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="our_services_plane col-lg-2 col-lg-offset-1">
			<img src="{{ root_relative }}/theme/images/services/seo_optimizing.jpg"
				alt="изображение не найдено, сообщите администратору" class="img-responsive">
			<div style="text-align: center;">
				<h3>СЕО оптимизация</h3>
				<p>Быстрая оптимизация сайта для поисковых систем</p>
				<h4>от 7000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="our_services_button btn btn-primary btn-md center-block"
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="col-lg-12">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>




		<div class="our_services_plane col-lg-2 col-lg-offset-2">
			<img src="{{ root_relative }}/theme/images/services/setting_reclame.jpg"
				alt="изображение не найдено, сообщите администратору" class="img-responsive">
			<div style="text-align: center;">
				<h3>Настройка рекламы</h3>
				<p>Быстрое создание кампаний Яндекс.Директ и Google.Adwords</p>
				<h4>от 9000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="our_services_button btn btn-primary btn-md center-block"
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="our_services_plane col-lg-2 col-lg-offset-1">
			<img src="{{ root_relative }}/theme/images/services/fast_exel_setting_and_automation.png"
				alt="изображение не найдено, сообщите администратору" class="img-responsive">
			<div style="text-align: center;">
				<h3>Быстрая настройка и автоматизация Excel</h3>
				<p>Быстрая разработка макросов в Excel</p>
				<h4>от 1000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="our_services_button btn btn-primary btn-md center-block "
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="our_services_plane col-lg-2 col-lg-offset-1">
			<img src="{{ root_relative }}/theme/images/services/implementation_of_ready_products_v2.png"
				alt="изображение не найдено, сообщите администратору" class="img-responsive">
			<div style="text-align: center;">
				<h3>Внедрение готовых и разработка новых решений 1С</h3>
				<p>Поддержка 1С систем, доработки типовых конфигураций, разработка собственных решений</p>
				<h4>от 3000 руб</h4>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<a href="##" class="our_services_button btn btn-primary btn-md center-block"
						role="button" target="_blank">Заказать
					</a>
				</div>
			</div>
		</div>




		<div class="col-lg-12">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>

	</div> <!-- enddiv our_services_row -->
{% endblock our_sevices %}
