{% block our_sevices %}
	<div id="services" class="our_services_row">
		<div class="our_services_header">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<h1 style="text-align: center;">Наши услуги:</h1>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>



		{% macro our_sevice (header, text, price, img_name) %}
			<div class="our_service_plane">

				<h3 style="text-align: center;">{{ header }}</h3>
				<img src="{{ root_relative }}/theme/images/services/{{ img_name }}"
					alt="изображение не найдено, сообщите администратору" class="">
				<p style="text-align: center;">{{ text }}</p>
				<h4 style="text-align: center;">{{ price }}</h4>

				<div class="">
					<div class="">
						<a href="##" class="our_service_button"
							role="button" target="_blank">Заказать
						</a>
					</div>
				</div>
			</div>
		{% endmacro %}



		<div class="our_services_list">

			{{ our_sevice ('Создание сайта', 'Быстрое создание одностраничных сайтов', 'от 5000 руб', 'website_creation.jpg') }}
			{{ our_sevice ('Мобильные приложения', 'Быстрое создание мобильных решений для Android, iOS', 'от 10000 руб', 'mobile_apps.png') }}
			{{ our_sevice ('СЕО оптимизация', 'Быстрая оптимизация сайта для поисковых систем', 'от 7000 руб', 'seo_optimizing.jpg') }}
			{{ our_sevice ('Настройка рекламы', 'Быстрое создание кампаний Яндекс.Директ и Google.Adwords', 'от 9000 руб', 'setting_reclame.jpg') }}
			{{ our_sevice ('Оптимизация и поддрежка', 'Оптимизация и поддержка существующего проекта', 'от 5000 руб', 'optimisation_and_support.jpg') }}
			{{ our_sevice ('Локализация', 'Перевод сайтов на другие языки для увеличения целевой аудитории', 'от 8000 руб', 'internationalization.png') }}

		</div><!-- enddiv our_services_list -->
	</div> <!-- enddiv our_services_row -->
{% endblock our_sevices %}
