{% extends "base.html" %}


{% block head %}

	{{ super() }}

	<title>
		{% if DEFAULT_LANG == "ru"  %}Разработка веб-сайтов.
		{% else %}Web development
		{% endif %}
	</title>

	<!-- Для листателя картинок (карусели): -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/carousel.min.css"/>
		<script type="text/javascript" src="{{ root_relative }}/theme/js/carousel.js"></script>

	<!-- Основной стиль страницы (остальные - каждый на своей странице): -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/details.css"/>

	<script type="text/javascript" src="{{ root_relative }}/theme/js/change_background_gradient.js"></script>

{% endblock head %}




{% block body %}
<body id="changeable_background_gradient">




	{% include "block_header.html" %}
	{% include "block_carousel.html" %}
	{% include "block_our_services.html" %}
	{% include "block_work_examples.html" %}




	<!-- VK Widget -->
	<div id="vk_community_messages" style="width: 50px; height: 50px; position: fixed; z-index: 10000; bottom: 0px; right: 20px; margin: 0px 0px 20px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
		<iframe name="fXD91171" src="{{ root_relative }}/theme/images/widget_community_messages.html" id="vkwidget2" style="overflow: hidden; box-shadow: none; border: none;" height="50" width="50"></iframe>
	</div>
	<script type="text/javascript">
		VK.Widgets.CommunityMessages("vk_community_messages", 100861800, {disableExpandChatSound: "1",tooltipButtonText: "Есть вопрос? Задайте его здесь."});
	</script>


	{% include "block_footer.html" %}




</body>
{% endblock body %}
