{% block about_us %}
	<div id="about_us" class="about_us_row">
		<div class="our_services_header page_header">
			<h1 style="text-align: center;">О нас:</h1>
		</div>

		<div class="about_us_row___list">
			<div class="about_us_row___list___item">
				༄</br>
				Мы - молодая команда, занимаемся любимым делом - помогаем воплощать ваши великолепные идеи в жизнь.
			</div>
			<div class="about_us_row___list___item">
				༄</br>
				Наша задача - создать максимально подходящий для конкретной задачи веб-сайт или приложение.
			</div>
			<div class="about_us_row___list___item">
				༄</br>
				Для реализации этой цели мы используем современные технологии и стандарты дизайна.
			</div>
			<div class="about_us_row___list___item">
				༄</br>
				Если вам нужен сайт - свяжитесь с нами любым удобным способом и получите консультацию.
			</div>
			<div class="about_us_row___list___item">
				༄</br>
				После того, как мы составим техническое задание - в кратчайшие сроки возьмемся за работу.
			</div>
			<div class="about_us_row___list___item">
				༄</br>
				Надеемся, что вы сможете добиться успеха с помощью созданного нами инструмента.
			</div>
		</div>



	</div> <!-- enddiv our_services_row -->
{% endblock about_us %}
