{% block footer %}
	<div class="footer_row">

		<div class="col-lg-12">
			<p>&nbsp;</p>
		</div>




		<div class="footer_info_plane">
			<h4>
				{% if DEFAULT_LANG == "ru"  %}
					Справка:
				{% else %}
					Info:
				{% endif %}
			</h4>

			<script type="text/javascript">
				var alert_support = function() {
					{% if DEFAULT_LANG == "ru"  %}
						alert("Для получения технической поддержки воспользуйтесь виджетом vk.com справа внизу сайта\nили напишите на электронную почту: support@16bit.su")
					{% else %}
						alert("To get technical support, please use vk.com widget in right bottom of screen\nor write us on e-mail: support@16bit.su")
					{% endif %}
				};
			</script>

			<a class="footer_links" href="#empty" onclick="alert_support()">
				{% if DEFAULT_LANG == "ru"  %}
					Техническая поддержка <p class="footer_links_info">(информация во всплывающем окне)</p>
				{% else %}
					Technical support <p class="footer_links_info">(info in pop-up window)</p>
				{% endif %}
			</a>


			<script type="text/javascript">
				var alert_jobs = function() {
					{% if DEFAULT_LANG == "ru"  %}
						alert("Хотите работать с нами? Присылайте резюме в группу Вконтакте\nили воспользуйтсь виджетом vk.com справа внизу сайта,\nкроме того вы можете выслать резюме на электронную почту: support@16bit.su")};
					{% else %}
					alert("Do you want to work with us? Send your CV into vk.com group\nor use vk.com widget in the bottom right of screen,\nalso you can send CV to our e-mail: support@16bit.su")};
					{% endif %}
			</script>

			<a class="footer_links" href="#empty" onclick="alert_jobs()">
				{% if DEFAULT_LANG == "ru"  %}
					Вакансии <p class="footer_links_info">(информация во всплывающем окне)</p>
				{% else %}
					Jobs <p class="footer_links_info">(information in the pop-up window)</p>
				{% endif %}
			</a>


			<a href="https://vk.com/16bit" class="footer_links" target="_blank">
				{% if DEFAULT_LANG == "ru"  %}
					Наше сообщество Вконтакте
					<p class="footer_links_info">(ссылка в новой вкладке)</p>
				{% else %}
					Our community on vk.com
					<p class="footer_links_info">(link in new tab)</p>
				{% endif %}

			</a>

			{% if DEFAULT_LANG == "ru"  %}
				<p class="footer_links">Контактный телефон: <span class="footer_phone_number" style="font-family: monospace;">+7 (923) 410 17 79</span></p>
			{% else %}
				<p class="footer_links">Contact phone: <span class="footer_phone_number" style="font-family: monospace;">+7 (923) 410 17 79</span></p>
			{% endif %}


		</div>




		<div class="col-lg-4 col-lg-offset-2">
		</div>




		<div class="col-lg-12">
			<p>&nbsp;</p>
			{% if DEFAULT_LANG == "ru"  %}
				<p style="text-align: center;">С уважением, команда 16 Бит.</p>
			{% else %}
				<p style="text-align: center;">Best regards, 16 Bits team</p>
			{% endif %}
		</div>


	</div><!-- endblock footer_row -->
{% endblock footer %}
