{% extends "base.html" %}

{% block head %}

	{{ super() }}

	<title>
		{% if DEFAULT_LANG == "ru"  %}Разработка веб-сайтов.
		{% else %}Web development
		{% endif %}
	</title>

	<!-- Для листателя картинок (карусели): -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/carousel.min.css"/>
		<script type="text/javascript" src="{{ root_relative }}/theme/js/carousel.js"></script>

	<!-- Основной стиль страницы (остальные - каждый на своей странице): -->
		<link rel="stylesheet" type="text/css" href="{{ root_relative }}/theme/css/details.css"/>

	<script type="text/javascript" src="{{ root_relative }}/theme/js/change_background_gradient.js"></script>

{% endblock head %}




{% block body %}
<body id="changeable_background_gradient">




	{% include "block_header.html" %}
	{% include "block_carousel.html" %}
	{% include "block_our_services.html" %}
	{% include "block_work_examples.html" %}
	{% include "block_about_us.html" %}
	{% include "block_footer.html" %}
	<!--{{ root_relative }} used it here because of bug https://github.com/pallets/jinja/issues/743 -->



</body>
{% endblock body %}
